.container-fluid{
    height: 100%;
}
.row{
    box-sizing:content-box;
}
#elementos{
    height: 100%;
}
.col-md-12{
    margin: 0;
}
#tela1{
    background: url(../img/Desk.jpg);
    background-size: cover;
    height: 100%;
}
#menu{
    height: 6%;
    margin-bottom: 5%;
    padding-left: 10%;
    top: 1px;
}
.fixar{
    position:fixed;
    top: 0px;
    z-index: 99999;
}
.itemMenu{
    height: 100%;
    text-align: center;
    border-radius: 5px;
    box-sizing: content-box;
    padding-top: 5px;
}
.itemMenu p a{
    color:white !important;
    font-family: 'Abel';
    font-size: 25px;
}
.itemMenu img{
    width: 50%;
    height: auto;
    margin-bottom: 1%;
}
#ahome{
    background: rgb(12, 44, 52);
    color: white !important;
}
#asobre{
    background: rgb(62, 52, 59);
    color: white !important;
}
#aequipe{
    background: rgb(121, 70, 68);
    color: white !important;
}
#aprojetos{
    background: rgb(184, 99, 79);
    color: white !important;
}
#acontato{
    background: rgb(205, 156, 126);
    color: white !important;
}
#logo img{
    width: 100%;
}
#logo{
    height: 50%;
    margin-top: 15%;
}
#caixas{
    height: 100%;
    padding-top: 5%;
    box-sizing:padding-box;
    background: url(../img/fundo.png);
    background-size: cover;
    padding-bottom: 20%;
}
.square{
    width: 35%; 
    height: 0; 
    padding-bottom: 35%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
}
.text{
    width: 75%;
    height: 50%;
    margin-left: 13%;
    margin-top: 30%;
    font-size: 20px;
    text-align: center;
    color: whitesmoke;
}
#caixa1{
    /*background-image: url(../img/squareBlue.png);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;*/
    height: 50%;
}
#caixa1 #caixaFundo{
    background-image: url(../img/pclinha.jpg);
    background-size: cover;
    height: 100%;
}
#caixa1 .titulo{
    margin-top: 5%;
}
h1{
    font-family: 'Nunito';
    color:#794644;
    font-size: 50px;
}
.titulo p{
    margin-top: 5%;
    font-family: 'Amiko';
}
#caixa2{
   /* background-image: url(../img/squareVinho.png);
    background-size: cover;
    /*background-attachment: fixed;
    background-position:50% 10%;
    background-repeat: no-repeat;*/
    height: 50%;
    margin-top: 3%;
}
#caixa2 #caixaFundo{
    background-image: url(../img/ArmsLinha.png);
    background-size: cover;
    height: 100%;
}
#caixa2 .titulo h1{
    color: #b8644c;
}
#caixa2 .titulo{
    margin-top: 5%;
}
#caixa3{
   /* background-image: url(../img/squareVinho.png);
    background-size: cover;
    /*background-attachment: fixed;
    background-position:50% 10%;
    background-repeat: no-repeat;*/
    height: 50%;
    margin-top: 3%;
}
#caixa3 #caixaFundo{
    background-image: url(../img/chartsLinha.jpg);
    background-size: cover;
    height: 100%;
}
#fundo{
    background: black;
    height: 100%;
    background: url(../img/1.png);
    background-size: cover;
}
#valores{
    height: 80%;
    margin-top: 5%;
   /* background: url(../img/Arms2.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background: black;*/
}
#valores #h1valor h1{
    text-align: center;
    font-size: 70px !important;
    color:rgb(12, 44, 52);
    margin-bottom: 10%;
}
#valores #divvalor .valor{
    width: 25% ; 
    height: 0; 
    padding-bottom: 25%;
    background-size: cover;
}
#valores #divvalor .valor .p{
    padding-top: 40%;
    font-size: 25px;
    text-align: center;
    color: whitesmoke;
}
#valor1{
    background-image: url(../img/squareSalmao.png);
    width: 15%  !important; 
    height: 0; 
    padding-bottom: 15% !important;
}
#valor2{
    background-image: url(../img/squareVinho.png);
    width: 15%  !important; 
    height: 0; 
    padding-bottom: 15% !important;
}
#valor3{
    background-image: url(../img/squareRoxo.png);
    width: 15%  !important; 
    height: 0; 
    padding-bottom: 15% !important;
}
#valor4{
    background-image: url(../img/squareBlue.png);
    width: 20%  !important; 
    height: 0; 
    padding-bottom: 20% !important;
}
#valor5{
    background-image: url(../img/squareBege.png);
    width: 15%  !important; 
    height: 0; 
    padding-bottom: 15% !important;
}

#caixa4{
   /* background-image: url(../img/squareVinho.png);
    background-size: cover;
    /*background-attachment: fixed;
    background-position:50% 10%;
    background-repeat: no-repeat;*/
    height: 100%;
    margin-top: 15%;
    padding-left: 5%;
}
#caixa4 h1{
    text-align: center;
    color:#794644;
    font-size: 50px;
    margin-left: -7%;
    margin-bottom: 1%;
    margin-top: -5%;
}
.cartao{
    height: 45%;
    padding: 0px;
    border-radius: 5px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}
.cartao:hover{
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}
#membro4, #membro5, #membro6{
   margin-top: 1%;
}
.foto{
    background: gray;
    width: 40%;
    height: 0;
    padding-bottom: 40%;
    margin-left: 30%;
    border-radius: 50%;
    margin-top: 6%;
}
.nome{
    text-align: center;
    margin-top: 2%;
    font-size: 25px;
    font-family: 'Abel';
}
.cargo{
    text-align: center;
    font-family: 'Roboto';
    color:lightgray;
}
.social{
    height: 15%;
    margin-top: 3%;
}
#membro1 .foto{
    background: url(../img/Integrantes/Deivisom.jpg);
    background-position: center;
    background-size: cover;
}
#membro2 .foto{
    background: url(../img/Integrantes/Francielly.jpg);
    background-position: center;
    background-size: cover;
}
#membro3 .foto{
    background: url(../img/Integrantes/Itallo.png);
    background-position: center;
    background-size: cover;
}
#membro4 .foto{
    background: url(../img/Integrantes/Jose.jpg);
    background-position: center;
    background-size: cover;
}
#membro5 .foto{
    background: url(../img/Integrantes/Renan.jpg);
    background-position: center;
    background-size: cover;
}
#membro6 .foto{
    background: url(../img/Integrantes/Ruan.jpg);
    background-position: center;
    background-size: cover;
}
ul#social-networking{
	margin:0px 0 0 0;
	text-align:center;
	display:block;
	float:left;
	padding:0px 0px 0px 0px;
	font-size:20px;
}
#social-networking li {
    margin: 0;
    padding: 0;
    list-style: none;
    background: url(../img/clean-social-icons.jpg);
    background-repeat: no-repeat;
}
#social-networking li, #social-networking a {
    width: 54px;
    height: 54px;
    display: block;
    float: left;
}
ul#social-networking li.twitter {background-position: -134px -74px;}
ul#social-networking li.facebook {background-position: -3px -10px;}
ul#social-networking li.linkedin {background-position: -385px -12px;}
ul#social-networking li.picasa {background-position: -258px -137px;}
ul#social-networking li.love {background-position: -258px -137px;}

ul#social-networking li:hover{opacity:0.6;}

[class*="zocial-"]:before {
    font-family: 'zocial', sans-serif;
    font-size: 20px !important;
}
#caixa5{
    height: 100%;
    margin-top: 10%;
}
#caixa5 #titulo h1{
    color: rgb(12, 44, 52) !important;
    text-align: center;
}
.owl-carousel{
    height: 70%;
    padding: 0;
}
.item{
    height: 100%;
}
.item .imgProjeto{
    width: 80% !important;
    height: 0;
    padding-bottom: 80% !important;
    border-radius: 90%;
    margin-left: 10%;
    border:3px solid rgb(12, 44, 52);
}
.item h2{
    margin-top: 10%;
    font-family: 'Nunito';
    text-align: center;
    width: 100%;
    font-size: 30px;
    color: rgb(12, 44, 52);
}
.item h3{
    font-family: 'Roboto';
    color: lightgray;
    text-align: center;
    width: 100%;
    font-size: 20px;
}
#projeto1 .imgProjeto{
    background: url(../img/eye.jpg);
    background-size: cover;
    /*border:3px solid rgb(62, 52, 59);
}
#projeto1 h2{
    color:rgb(62, 52, 59);*/
}
#projeto2 .imgProjeto{
    background: url(../img/StrangerDoctor.png);
    background-size: cover;
    background-position: center;
    /*border:3px solid rgb(121, 70, 68);
}
#projeto2 h2{
    color:rgb(121, 70, 68);*/
}
#projeto3 .imgProjeto{
    background: url(../img/sunflower.jpg);
    background-size: cover;
   /* border:3px solid rgb(184, 99, 79);
}
#projeto3 h2{
    color:rgb(62, 52, 59);*/
}
#projeto4 .imgProjeto{
    background: url(../img/water.jpg);
    background-size: cover;
    /*border:3px solid rgb(12, 44, 52);
}
#projeto4 h2{
    color:rgb(12, 44, 52);*/
}
#caixa6{
    height: 100%;
    margin-top: 10%;
    padding-left: 5%;
}
#caixa6 .row{
    width: 100%;
}
#contato{
    height: 85%;
    padding: 0;
}
#contatoinfo{
    height: 100%;
    padding-top: 2%;
    font-family: 'Roboto';
}
#contatoinfo input{
    margin-bottom: 5%;
}
input:hover, textarea:focus{
    text-decoration: none;
    box-shadow: none !important;
    outline: none !important;
}
input:focus, textarea:focus{
    text-decoration: none;
    box-shadow: none !important;  
    outline: none !important;
}
#contatomsg{
    height: 100%;
}
textarea{
    height: 35%;
    color: rgb(62, 52, 59) !important;
    border:2px solid rgb(62, 52, 59) !important;
}
#submit{
    width: 100%;
    margin-top: 3%;
    border: none;
    background: rgb(62, 52, 59);
    color:white;
    font-family: 'Roboto';
}
#campo1 input{
    color: rgb(121, 70, 68) !important;
    border:2px solid rgb(121, 70, 68);
}
#campo1{
     color: rgb(121, 70, 68) !important;
}
#campo2 input{
    color: rgb(12, 44, 52) !important;
    border:2px solid rgb(12, 44, 52);
}
#campo2{
    color: rgb(12, 44, 52) !important;
}
#campo3 input{
    border:2px solid rgb(184, 99, 79);
    color: rgb(184, 99, 79) !important;
}
#campo3{
     color: rgb(184, 99, 79) !important;
}
#btnVoltar{
    position: fixed;
    z-index: 99999;
    margin-left: 90%;
    margin-bottom: 5%;
}
#btnVoltar div{
    width: 100%  !important; 
    height: 0; 
    padding-bottom: 100% !important;
    background: url(../img/squareVinho.png);
    background-size: cover;
    cursor:pointer;
}
#btnVoltar div img{
    width: 70%;
    margin: 15% 0 0 15%;
    transform: rotate(-90deg);
}
.aparece{
    visibility: visible !important;
}
* {
  box-sizing: border-box;
}
html.modal-active, body.modal-active {
  overflow: hidden;
}
.modal img{
    height: 300px !important;
    border-radius: 5px;
    border:1px solid lightgray;
}
.modal h2{
    color:black;
}
.modal p{
    color:lightgray;
}
.modal h3{
    color:gray;
}
#modal-container {
  position: fixed;
  display: table;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  transform: scale(0);
  z-index: 1;
    background: rgba(0,0,0,0.75);
}
#modal-container.one {
  transform: scaleY(0.01) scaleX(0);
  animation: unfoldIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.one .modal-background .modal {
  transform: scale(0);
  animation: zoomIn 0.5s 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.one.out {
  transform: scale(1);
  animation: unfoldOut 1s 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.one.out .modal-background .modal {
  animation: zoomOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.two {
  transform: scale(1);
}
#modal-container.two .modal-background {
  background: rgba(0, 0, 0, 0);
  animation: fadeIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.two .modal-background .modal {
  opacity: 0;
  animation: scaleUp 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.two + .content {
  animation: scaleBack 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.two.out {
  animation: quickScaleDown 0s 0.5s linear forwards;
}
#modal-container.two.out .modal-background {
  animation: fadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.two.out .modal-background .modal {
  animation: scaleDown 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.two.out + .content {
  animation: scaleForward 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.three {
  z-index: 0;
  transform: scale(1);
}
#modal-container.three .modal-background {
  background: rgba(0, 0, 0, 0.6);
}
#modal-container.three .modal-background .modal {
  animation: moveUp 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.three + .content {
  z-index: 1;
  animation: slideUpLarge 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.three.out .modal-background .modal {
  animation: moveDown 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.three.out + .content {
  animation: slideDownLarge 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.four {
  z-index: 0;
  transform: scale(1);
}
#modal-container.four .modal-background {
  background: rgba(0, 0, 0, 0.7);
}
#modal-container.four .modal-background .modal {
  animation: blowUpModal 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.four + .content {
  z-index: 1;
  animation: blowUpContent 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.four.out .modal-background .modal {
  animation: blowUpModalTwo 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.four.out + .content {
  animation: blowUpContentTwo 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.five {
  transform: scale(1);
}
#modal-container.five .modal-background {
  background: rgba(0, 0, 0, 0);
  animation: fadeIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.five .modal-background .modal {
  transform: translateX(-1500px);
  animation: roadRunnerIn 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.five.out {
  animation: quickScaleDown 0s 0.5s linear forwards;
}
#modal-container.five.out .modal-background {
  animation: fadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.five.out .modal-background .modal {
  animation: roadRunnerOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.six {
  transform: scale(1);
}
#modal-container.six .modal-background {
  background: rgba(0, 0, 0, 0);
  animation: fadeIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.six .modal-background .modal {
  background-color: transparent;
  animation: modalFadeIn 0.5s 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.six .modal-background .modal h2, #modal-container.six .modal-background .modal p {
  opacity: 0;
  position: relative;
  animation: modalContentFadeIn 0.5s 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.six .modal-background .modal .modal-svg rect {
  animation: sketchIn 0.5s 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.six.out {
  animation: quickScaleDown 0s 0.5s linear forwards;
}
#modal-container.six.out .modal-background {
  animation: fadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.six.out .modal-background .modal {
  animation: modalFadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.six.out .modal-background .modal h2, #modal-container.six.out .modal-background .modal p {
  animation: modalContentFadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.six.out .modal-background .modal .modal-svg rect {
  animation: sketchOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.seven {
  transform: scale(1);
}
#modal-container.seven .modal-background {
  background: rgba(0, 0, 0, 0);
  animation: fadeIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.seven .modal-background .modal {
  height: 75px;
  width: 75px;
  border-radius: 75px;
  overflow: hidden;
  animation: bondJamesBond 1.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.seven .modal-background .modal h2, #modal-container.seven .modal-background .modal p {
  opacity: 0;
  position: relative;
  animation: modalContentFadeIn 0.5s 1.4s linear forwards;
}
#modal-container.seven.out {
  animation: slowFade 0.5s 1.5s linear forwards;
}
#modal-container.seven.out .modal-background {
  background-color: rgba(0, 0, 0, 0.7);
  animation: fadeToRed 2s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.seven.out .modal-background .modal {
  border-radius: 3px;
  height: 162px;
  width: 227px;
  animation: killShot 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.seven.out .modal-background .modal h2, #modal-container.seven.out .modal-background .modal p {
  animation: modalContentFadeOut 0.5s 0.5 cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container .modal-background {
  display: table-cell;
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
  vertical-align: middle;
}
#modal-container .modal-background .modal {
  background: white;
  padding: 50px;
  display: inline-block;
  border-radius: 3px;
  font-weight: 300;
  position: relative;
}
#modal-container .modal-background .modal h2 {
  font-size: 25px;
  line-height: 25px;
  margin-bottom: 15px;
}
#modal-container .modal-background .modal p {
  font-size: 18px;
  line-height: 22px;
}
#modal-container .modal-background .modal .modal-svg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 3px;
}
#modal-container .modal-background .modal .modal-svg rect {
  stroke: #fff;
  stroke-width: 2px;
  stroke-dasharray: 778;
  stroke-dashoffset: 778;
}

.content {
  min-height: 100%;
  height: 100%;
  background: white;
  position: relative;
  z-index: 0;
}
.content h1 {
  padding: 75px 0 30px 0;
  text-align: center;
  font-size: 30px;
  line-height: 30px;
}
.content .buttons {
  max-width: 800px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}
.content .buttons .button {
  display: inline-block;
  text-align: center;
  padding: 10px 15px;
  margin: 10px;
  background: red;
  font-size: 18px;
  background-color: #efefef;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.content .buttons .button:hover {
  color: white;
  background: #009bd5;
}

@keyframes unfoldIn {
  0% {
    transform: scaleY(0.005) scaleX(0);
  }
  50% {
    transform: scaleY(0.005) scaleX(1);
  }
  100% {
    transform: scaleY(1) scaleX(1);
  }
}
@keyframes unfoldOut {
  0% {
    transform: scaleY(1) scaleX(1);
  }
  50% {
    transform: scaleY(0.005) scaleX(1);
  }
  100% {
    transform: scaleY(0.005) scaleX(0);
  }
}
@keyframes zoomIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes zoomOut {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes fadeIn {
  0% {
    background: rgba(0, 0, 0, 0);
  }
  100% {
    background: rgba(0, 0, 0, 0.7);
  }
}
@keyframes fadeOut {
  0% {
    background: rgba(0, 0, 0, 0.7);
  }
  100% {
    background: rgba(0, 0, 0, 0);
  }
}
@keyframes scaleUp {
  0% {
    transform: scale(0.8) translateY(1000px);
    opacity: 0;
  }
  100% {
    transform: scale(1) translateY(0px);
    opacity: 1;
  }
}
@keyframes scaleDown {
  0% {
    transform: scale(1) translateY(0px);
    opacity: 1;
  }
  100% {
    transform: scale(0.8) translateY(1000px);
    opacity: 0;
  }
}
@keyframes scaleBack {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.85);
  }
}
@keyframes scaleForward {
  0% {
    transform: scale(0.85);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes quickScaleDown {
  0% {
    transform: scale(1);
  }
  99.9% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes slideUpLarge {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}
@keyframes slideDownLarge {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes moveUp {
  0% {
    transform: translateY(150px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes moveDown {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(150px);
  }
}
@keyframes blowUpContent {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  99.9% {
    transform: scale(2);
    opacity: 0;
  }
  100% {
    transform: scale(0);
  }
}
@keyframes blowUpContentTwo {
  0% {
    transform: scale(2);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes blowUpModal {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes blowUpModalTwo {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}
@keyframes roadRunnerIn {
  0% {
    transform: translateX(-1500px) skewX(30deg) scaleX(1.3);
  }
  70% {
    transform: translateX(30px) skewX(0deg) scaleX(0.9);
  }
  100% {
    transform: translateX(0px) skewX(0deg) scaleX(1);
  }
}
@keyframes roadRunnerOut {
  0% {
    transform: translateX(0px) skewX(0deg) scaleX(1);
  }
  30% {
    transform: translateX(-30px) skewX(-5deg) scaleX(0.9);
  }
  100% {
    transform: translateX(1500px) skewX(30deg) scaleX(1.3);
  }
}
@keyframes sketchIn {
  0% {
    stroke-dashoffset: 778;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes sketchOut {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 778;
  }
}
@keyframes modalFadeIn {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: white;
  }
}
@keyframes modalFadeOut {
  0% {
    background-color: white;
  }
  100% {
    background-color: transparent;
  }
}
@keyframes modalContentFadeIn {
  0% {
    opacity: 0;
    top: -20px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}
@keyframes modalContentFadeOut {
  0% {
    opacity: 1;
    top: 0px;
  }
  100% {
    opacity: 0;
    top: -20px;
  }
}
@keyframes bondJamesBond {
  0% {
    transform: translateX(1000px);
  }
  80% {
    transform: translateX(0px);
    border-radius: 75px;
    height: 75px;
    width: 75px;
  }
  90% {
    border-radius: 3px;
    height: 182px;
    width: 247px;
  }
  100% {
    border-radius: 3px;
    height: 162px;
    width: 227px;
  }
}
@keyframes killShot {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(300px) rotate(45deg);
    opacity: 0;
  }
}
@keyframes fadeToRed {
  0% {
    box-shadow: inset 0 0 0 rgba(201, 24, 24, 0.8);
  }
  100% {
    box-shadow: inset 0 2000px 0 rgba(201, 24, 24, 0.8);
  }
}
@keyframes slowFade {
  0% {
    opacity: 1;
  }
  99.9% {
    opacity: 0;
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}